<h1>Search Page</h1>
<%= form_tag search_acticles_path, :method => 'get' do %>
<p>
Industry ID:
<%= text_field_tag :search, params[:search] %>

</p>
<p>
<%= submit_tag "Search", :name => nil %>
</p>
<% end %>
<table>
 <thead>
  <tr>
   <th>Title</th>
   <th>Summary</th>
  </tr>
 </thead>

 <tbody>
<% 10.times do |i| %>
   <tr>
	<td><%= @tempResult[i] %></td>
	<td><%= @tempShortAc[i] %></td>
   </tr>
<% end %>
  </tbody>
</table>
